:root {
  --fs-sm: 18px;
  --fs-md: 20px;
  --fs-lg: 24px;
  --fs-xl: 36px;
  --fs-2xl: 48px;
  --fs-3xl: 64px;
  --fs-4xl: 144px;
  /* clr */
  --white: #ffffff;
  --purpel: #9003e5;
  --blue: #010080;
  --dark-purpel: #8a3e74;
  --yelo-green: #d2da60;
  --black: #000000;
  --gray: #444444;
  --mix-gray: #eeeeee;
  --light-gray: #f0f0f0;
  --lg-black: #00000099;
  --shadow:#00000040;
  --blue-gradient:linear-gradient(90deg, #1798bc 0%, #0185d3 90%);
  --yelo-gradient: linear-gradient(90deg, #f9af0a 0%, #92aa61 85%);
  --white-mask:linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  --gradient-p:linear-gradient(90.44deg, #9003e5 2.42%, #f93b95 99.69%);
  --pink-gradient: linear-gradient(90deg, #9104e5 0%, #f93b96 96.47%);
}
.blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}
.pink-gradient {
  background: var(--pink-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-black {
  background-color: var(--black);
}
.light-gray {
  background: var(--light-gray);
}
.clr-purpel {
  color: var(--purpel);
}
.dark-purpel {
  color: var(--dark-purpel);
}
.black {
  color: var(--black);
}
.white {
  color: var(--white);
}

.bg-yelo-green {
  background-color: var(--yelo-green);
}

.fs-18 {
  font-size: var(--fs-sm);
}
.fs-20 {
  font-size: var(--fs-md);
}
.fs-24 {
  font-size: var(--fs-lg);
}
.fs-36 {
  font-size: var(--fs-xl);
}
.fs-48 {
  font-size: var(--fs-2xl);
}
.fs-64 {
  font-size: var(--fs-3xl);
}
.fs-144 {
  font-size: var(--fs-4xl);
}
/* -----line height------ */

.lh-27 {
  line-height: 27px;
}
.lh-30 {
  line-height: 30px;
}
.lh-36 {
  line-height: 36px;
}
.lh-54 {
  line-height: 54px;
}
.lh-72 {
  line-height: 72px;
}
.lh-96 {
  line-height: 96px;
}
.lh-216 {
  line-height: 216px;
}

/* -------------------responsive----------------------- */
@media (max-width: 1734px) {
  .gallerylayer {
    padding: 29px 16px 30px;
  }
}
@media (max-width: 1536px) {
  :root {
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 24px;
    --fs-xl: 36px;
    --fs-2xl: 48px;
    --fs-3xl: 50px;
    --fs-4xl: 144px;
  }
  .setPosition-1 {
    top: 1%;
    width: 250px;
  }
  .setPosition-2 {
    width: 250px;
  }
  .hero-bg {
    background-position: right;
    height: 635px;
  }
  .pt-260 {
    padding-top: 200px;
  }
  .py-115 {
    padding: 100px 0;
  }
  .py-115-168 {
    padding: 100px 0 170px;
  }
  .pt-223 {
    padding-top: 150px;
  }
  .p-175-140 {
    padding: 140px 0;
  }
  .lh-216 {
    line-height: 196px;
  }
  .mix-clr {
    top: 50%;
  }
  .pink-cloud {
    top: -21%;
    right: -12%;
  }
  .clrfull-wall {
    top: 0;
    left: 0;
    width: 320px;
  }
  .container-1415 {
    max-width: 1320px;
  }
  .columnLayer1 {
    height: 310px;
    top: 19.6%;
    right: -15%;
  }
  .mt-221 {
    margin-top: 180px !important;
  }
  .mt-277 {
    margin-top: 180px !important;
  }
  .lh-96 {
    line-height: 52px;
  }
  .lh-72 {
    line-height: 50px;
  }
  .gap-15 {
    gap: 8px;
  }
  .columnLayer2 {
    height: 310px;
    top: 49.5%;
    left: -16%;
  }
  .columnLayer3 {
    height: 300px;
    bottom: 5.7%;
    right: -16.2%;
  }
  .pb-251 {
    padding-bottom: 100px;
  }
  .splash2 {
    z-index: -3;
    bottom: 57%;
    left: 14%;
  }
}
@media (max-width: 1400px) {
  :root {
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 24px;
    --fs-xl: 32px;
    --fs-2xl: 48px;
    --fs-3xl: 50px;
    --fs-4xl: 144px;
  }
  .container-1415 {
    max-width: 1140px;
  }
  .py-115 {
    padding: 90px 0;
  }
  .pt-115 {
    padding-top: 90px;
  }
  .pb-251 {
    padding-bottom: 90px;
  }
  .lh-96 {
    line-height: 52px;
  }
  .lh-72 {
    line-height: 50px;
  }
  .gap-15 {
    gap: 8px;
  }
  .columnLayer1 {
    height: 326px;
    top: 17%;
  }
  .setPosition-1 {
    top: 1%;
    width: 230px;
  }
  .setPosition-2 {
    width: 230px;
  }
  .my-82-92 {
    margin: 70px 0;
  }
  .gap-24 {
    gap: 20px;
  }
  .dotedLineY2 {
    right: 31.1% !important;
  }
  .hero-bg {
    background-position: top;
    height: 580px;
  }
  .pt-260 {
    padding-top: 180px;
  }
  .lh-54 {
    line-height: 38px;
  }
  .mt-277 {
    margin-top: 140px !important;
  }
  .mt-221 {
    margin-top: 140px !important;
  }
  .pink-cloud {
    top: -17%;
    right: -20%;
  }
  .clrfull-wall {
    top: 0;
    left: -3%;
    width: 320px;
  }
  .py-115-168 {
    padding: 90px 0 160px;
  }
  .columnLayer2 {
    height: 320px;
    top: 46.5%;
    left: -16.2%;
  }
  .columnLayer3 {
    height: 330px;
    bottom: 5.7%;
    right: -16.2%;
  }
  .item2 > div {
    padding: 12px 24px;
    left: 24px;
    width: 385px;
  }
  .item4 {
    height: 420px;
    border-radius: 24px;
    padding: 0 28px;
    background-color: var(--blue);
  }
  .item3 > div {
    padding: 12px 14px;
    left: 15px;
    width: 380px;
  }
  .item5 > div {
    padding: 12px 14px;
    left: 15px;
    width: 380px;
  }
  .item3 > img {
    height: 420px;
  }
  .item5 > img {
    height: 420px;
  }
  .splash2 {
    z-index: -3;
    bottom: 48%;
    left: 13%;
  }
  .mixYello {
    z-index: -2;
    top: -49%;
    left: -24%;
    width: 260px;
    height: 185px;
  }
  .clr-pink1 {
    z-index: -2;
    right: 6%;
    top: -44%;
  }
  .yello-clr {
    z-index: -4;
    top: -30%;
    left: 0%;
  }
  .team {
    object-fit: contain;
    height: auto;
  }
  .team1 {
    position: unset !important;
    max-width: unset !important;
  }
  .team2 {
    position: unset !important;
    max-width: unset !important;
  }
  .team3 {
    position: unset !important;
    max-width: unset !important;
  }
  .team4 {
    position: unset !important;
    max-width: unset !important;
  }
  .max-h-819 {
    min-height: unset;
  }
  .py-21 {
    padding: 90px 0;
  }
}
@media (max-width: 1200px) {
  :root {
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 22px;
    --fs-xl: 32px;
    --fs-2xl: 45px;
    --fs-3xl: 48px;
    --fs-4xl: 123px;
  }
  .py-115 {
    padding: 80px 0;
  }
  .container-1415 {
    max-width: 960px;
  }
  .pt-115 {
    padding-top: 80px;
  }
  .py-115-168 {
    padding: 80px 0 110px;
  }
  .mt-277 {
    margin-top: 80px !important;
  }
  .mt-221 {
    margin-top: 80px !important;
  }
  .pb-251 {
    padding-bottom: 80px;
  }
  .lh-36 {
    line-height: 28px;
  }
  .lh-72 {
    line-height: 46px;
  }
  .my-82-92 {
    margin: 50px 0;
  }
  .setPosition-1 {
    top: 0%;
    width: 220px;
  }
  .setPosition-2 {
    width: 220px;
  }
  .dotedLineY2 {
    right: 30.5% !important;
  }
  .columnLayer1 {
    height: 320px;
    top: 16%;
  }
  .mix-clr {
    top: 34%;
  }
  .hero-bg {
    background-position: center;
    height: 560px;
  }
  .lh-54 {
    line-height: 40px;
  }
  .gap-45 {
    gap: 32px;
  }
  input {
    width: 560px;
  }
  .p-175-140 {
    padding: 110px 0;
  }
  .lh-216 {
    line-height: 162px;
  }
  .clr-pink {
    bottom: 0%;
  }
  .pink-cloud {
    top: -26%;
    right: -30%;
  }
  .columnLayer2 {
    height: 320px;
    top: 44%;
    left: -16.2%;
  }
  .columnLayer3 {
    height: 320px;
    bottom: 5%;
    right: -33.2%;
  }
  .item1 > div {
    padding: 8px 22px;
    bottom: 20px;
    left: 22px;
    width: 475px;
  }
  .item2 > div {
    padding: 8px 16px;
    left: 18px;
  }
  .item3 > img {
    height: 360px;
  }
  .item4 {
    height: 360px;
    border-radius: 24px;
    padding: 0 28px;
    background-color: var(--blue);
  }
  .item5 > img {
    height: 360px;
  }
  .item2 > div {
    padding: 8px 16px;
    left: 18px;
    width: 343px;
  }
  .splash1 {
    display: none;
  }
  .splash2 {
    display: none;
  }
  .mt-182 {
    margin-top: 0 !important;
  }
  .mt-48 {
    margin-top: 48px !important;
  }
  .mb-0-xl {
    margin-bottom: 0;
  }
  .order-7 {
    order: 7 !important;
  }
  .order-6 {
    order: 6 !important;
  }
  .yello-clr {
    top: -25%;
    left: 0%;
  }
  .clr-pink1 {
    right: 6%;
    top: -23%;
    width: 135px;
    height: 133px;
  }
  .mixYello {
    top: -15%;
    left: -44%;
  }
  .py-21 {
    padding: 80px 0;
  }
}

@media (max-width: 991.9px) {
  :root {
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-lg: 21px;
    --fs-xl: 28px;
    --fs-2xl: 42px;
    --fs-3xl: 46px;
    --fs-4xl: 94px;
  }
  .moblieView {
    position: absolute;
    top: 0;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    z-index: 90;
    transition: 300ms linear;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(60px);
  }
  .overflow_hide {
    overflow: hidden;
  }
  .menu {
    position: relative;
    z-index: 100;
  }
  .menu span:nth-child(1) {
    display: block;
    width: 40px;
    height: 4px;
    transition: 300ms linear;
    border-radius: 10px;
    background-color: var(--purpel);
  }
  .menu span:nth-child(2) {
    display: block;
    width: 40px;
    height: 4px;
    transition: 300ms linear;
    border-radius: 10px;
    background-color: var(--purpel);
  }
  .menu span:nth-child(3) {
    display: block;
    width: 40px;
    height: 4px;
    transition: 300ms linear;
    border-radius: 10px;
    background-color: var(--purpel);
  }
  .cross :nth-child(1) {
    transform: rotate(45deg) translateY(18px);
  }
  .cross :nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
  }
  .cross :nth-child(3) {
    transform: rotate(-48deg) translateY(-16px);
  }
  .py-115 {
    padding: 70px 0;
  }
  .pt-115 {
    padding-top: 70px;
  }
  .columnLayer1 {
    height: 400px;
    top: 7%;
    right: -4%;
  }
  .lh-36 {
    line-height: 26px;
  }
  .dotedLineY {
    left: 50% !important;
  }
  .dotedLineX {
    top: 33.5%;
  }
  .dotedLineY2 {
    width: 100% !important;
    bottom: 32.8% !important;
    transform: translateY(-50%) !important;
    z-index: -1 !important;
    border-bottom: 2px dotted var(--black) !important;
    left: 0;
    position: absolute !important;
    height: unset !important;
  }
  .pt-260 {
    padding-top: 145px;
  }
  .py-21 {
    padding: 70px 0;
  }
  .p-175-140 {
    padding: 90px 0;
  }
  .hero-bg {
    background-position: center;
    height: 465px;
  }
  .lh-27 {
    line-height: 22px;
  }
  .gap-45 {
    gap: 36px;
  }
  .pb-251 {
    padding-bottom: 70px;
  }
  .mix-clr {
    top: 65%;
    width: 220px;
  }
  .bluefoog-clr {
    width: 220px !important;
  }
  input {
    width: 380px;
  }
  .lh-216 {
    line-height: 141px;
  }
  .rounded-45 {
    border-radius: 23px;
  }
  .container-1415 {
    max-width: 720px;
  }
  .fw-700 {
    font-weight: 600;
  }
  .clr-mix {
    right: 0;
    bottom: 30%;
    z-index: -3;
  }
  .pink-cloud {
    display: none;
  }
  .clrfull-wall {
    left: -17%;
  }
  .clr-mix {
    right: -12%;
    bottom: 36%;
    z-index: -3;
  }
  .columnLayer2 {
    height: 430px;
    top: 37.5%;
    left: -17.2%;
  }
  .columnLayer3 {
    height: 467px;
    bottom: 12.7%;
    right: -11.2%;
  }
  .mt-221 {
    margin-top: 70px !important;
  }
  .py-115-168 {
    padding: 70px 0;
  }
  .mt-277 {
    margin-top: 70px !important;
  }
  .item1 > img {
    height: 434px !important;
  }
  .item1 > div {
    width: 513px;
  }
  .item2 > img {
    height: 434px !important;
  }
  .item2 > div {
    width: 390px;
  }
  .item3 > img {
    height: 450px;
  }
  .item4 {
    height: 375px;
    padding: 0 44px;
  }
  .item5 > img {
    height: 450px;
  }
  .clr-pink1 {
    right: -13%;
    top: -37%;
    width: 135px;
    height: 133px;
  }
  .mixYello {
    top: -53%;
    left: -33%;
  }
  .py-21 {
    padding: 70px 0;
  }
  .px-21 {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  :root {
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-lg: 20px;
    --fs-xl: 27px;
    --fs-2xl: 38px;
    --fs-3xl: 42px;
    --fs-4xl: 61px;
  }
  .py-115 {
    padding: 60px 0;
  }
  .pt-115 {
    padding-top: 60px;
  }
  .hero-bg {
    background-position: bottom;
    height: 420px;
  }
  .columnLayer1 {
    height: 380px;
    top: 7.3%;
    right: -4%;
  }
  .lh-54 {
    line-height: 32px;
  }
  .pt-260 {
    padding-top: 125px;
  }
  .clr-Btn {
    height: 52px;
    width: 190px;
  }
  .container-1415 {
    max-width: 540px;
  }
  .lh-72 {
    line-height: 40px;
  }
  .pb-251 {
    padding-bottom: 60px;
  }
  .my-82-92 {
    margin: 35px 0;
  }
  .setPosition-1 {
    width: 150px;
  }
  .setPosition-2 {
    width: 150px;
  }
  .py-115-168 {
    padding: 60px 0;
  }
  .responsive:nth-child(3) img.w-100 {
    height: 280px !important;
  }
  .responsive1 .galleryBox > img.w-100 {
    height: 280px !important;
  }
  .bluefoog-clr {
    width: 160px !important;
  }
  .columnLayer2 {
    height: 405px;
    top: 37.9%;
    left: -12.2%;
  }
  .lh-27 {
    line-height: 24px;
  }
  .mix-clr {
    top: 70%;
    width: 170px;
  }
  .gallerylayer {
    padding: 30px 14px;
  }
  .max-251 {
    max-width: 200px;
  }
  input {
    width: 380px;
  }
  .lh-216 {
    line-height: 141px;
  }
  .rounded-45 {
    border-radius: 23px;
  }
  .subsucribeBtn {
    padding: 16px 48px;
  }
  .p-175-140 {
    padding: 80px 65px 50px;
  }
  .subsucribeBtn {
    width: 100%;
  }
  .lh-216 {
    line-height: 85px;
  }
  .newsLetter {
    top: -27%;
  }
  .columnLayer3 {
    height: 390px;
    bottom: 13%;
    right: -18.2%;
  }
  .mt-277 {
    margin-top: 60px !important;
  }
  .mt-221 {
    margin-top: 60px !important;
  }

  .pt-223 {
    padding-top: 100px;
  }
  .item1 > img {
    height: 350px !important;
  }
  .item1 > div {
    width: 460px;
  }
  .item2 > img {
    height: 350px !important;
  }
  .item3 > img {
    height: 375px;
  }
  .item4 {
    height: 375px;
    padding: 0 75px;
  }
  .item5 > img {
    height: 375px;
  }
  .mixYello {
    top: -46%;
    left: -44%;
  }
  .clr-pink1 {
    right: -16%;
    top: -27%;
    width: 135px;
    height: 133px;
  }
  .yello-clr {
    top: -25%;
    left: -9%;
    width: 220px;
    height: 220px;
  }
  .py-21 {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-sm: 15px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 24px;
    --fs-2xl: 31px;
    --fs-3xl: 34px;
    --fs-4xl: 40px;
  }
  .lh-72 {
    line-height: 30px;
  }
  .py-115 {
    padding: 50px 0;
  }
  .pt-115 {
    padding-top: 50px;
  }
  .lh-96 {
    line-height: 31px;
  }
  .lh-30 {
    line-height: 20px;
  }
  .my-82-92 {
    margin: 40px 0 0;
  }
  .pt-260 {
    padding-top: 86px;
  }
  .lh-54 {
    line-height: 32px;
  }
  .container-1415 {
    max-width: 574px;
  }
  .lh-27 {
    line-height: 20px;
  }
  .clr-Btn::before {
    border: 3px solid transparent;
  }
  .clr-Btn {
    height: 45px;
    width: 165px;
  }
  .lh-36 {
    line-height: 28px;
  }
  .mb-42 {
    margin-bottom: 16px;
  }
  .columnLayer1 {
    height: 345px;
    top: 6.9%;
    right: -15%;
  }
  .columnLayer2 {
    height: 345px;
    top: 37.9%;
    left: -15%;
  }
  .mt-221 {
    margin-top: 70px !important;
  }
  .columnLayer3 {
    height: 345px;
    bottom: 10.9%;
    right: -15%;
  }
  .mt-277 {
    margin-top: 70px !important;
  }
  .hero-bg {
    background-position: bottom;
    height: 426px;
  }
  .gap-45 {
    gap: 28px;
  }
  .pb-251 {
    padding-bottom: 50px;
  }
  .gap-24 {
    gap: 12px;
  }
  .responsive:nth-child(3) img.w-100 {
    height: 250px !important;
  }
  .responsive1 .galleryBox > img.w-100 {
    height: 250px !important;
  }
  .row-gap34 {
    row-gap: 8px;
  }
  .mix-clr {
    top: 65%;
    width: 170px;
  }
  .py-55-60 {
    padding: 50px 0;
  }
  .mb-10 {
    margin-bottom: 0px;
  }
  .max-251 {
    max-width: 180px;
  }
  input {
    width: 250px;
  }
  .p-175-140 {
    padding: 60px 0 32px !important;
  }
  .subsucribeBtn {
    padding: 16px 48px;
    width: 250px;
  }
  .py-115-168 {
    padding: 50px 0;
  }
  .lh-216 {
    line-height: 61px;
  }
  .pt-223 {
    padding-top: 70px;
  }
  input {
    padding: 12px 16px;
  }
  .clrfull-wall {
    left: -73%;
  }
  .clr-mix {
    right: -31%;
    bottom: 46%;
    z-index: -3;
  }
  .item1 > div {
    padding: 8px 8px;
    bottom: 11px;
    left: 9px;
    width: 275px;
  }
  .item2 > div {
    padding: 8px 8px;
    left: 8px;
    width: 275px;
  }
  .item1 > img {
    height: 275px !important;
  }
  .item2 > img {
    height: 275px !important;
  }
  .item3 > div {
    padding: 7px 8px;
    left: 10px;
    width: 276px;
    bottom: 11px;
  }
  .item3 > img {
    border-radius: 12px;
    height: 275px;
  }
  .p-175-140 {
    padding: 60px 137px 32px;
  }
  .item4 {
    border-radius: 12px;
    height: 275px;
    padding: 0 15px;
  }
  .item5 > img {
    border-radius: 12px;
    height: 275px;
  }
  .item5 > div {
    padding: 7px 8px;
    left: 10px;
    width: 276px;
    bottom: 11px;
  }
  .yello-clr {
    top: -21%;
    left: -16%;
  }
  .mixYello {
    top: -33%;
    left: -50%;
  }
  .py-21 {
    padding: 50px 0;
  }
}
